body {
  margin: 0;
  font-family: "Lucida Granade";
}

.logo {
  width: 124px;
  margin-top: 20px;
}

header {
  height: 30px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}

.container {
  width: 1170px;
 padding: 0 15px;
 margin: 0 auto;
}

.top {
  padding: 180px 0 100px 0;
  background-image: url("img01.jpg");
  background-size: cover;
  color: white;
  text-align: center;

}

.top h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top h3 {
  opacity: 0.7;
  margin-bottom: 3px;
}


.numbers {
  padding-left: 15px;
  height: 20px;
  background-color: #eee;
}

img {
  height: 500px;
  width: 660px;
  padding-left: 10px;
  display: inline-block;

}


.message {
  background-color: #cfdccf;
  height: 85px;
  margin-top: 70px;
}
